.button {
    font-weight: 600;
    margin: 0 auto;
}

.button:hover {
    background-color:black;
    color: whitesmoke;
    border: 2px solid gray;
}

@media only screen and (max-width: 767px) {
    .button-div > .button {
        width: 200px;
        height: 40px;
        font-size: 1rem;
    }
    .button-text-parent > .text-div > .product-desc {
        font-size: 1.2rem;
    }
    .product-div > .product-title {
        font-size: 1.4rem;
        font-weight: bold;
    }
    .details-description {
        font-size: 1rem;
    }
    .font-weight-bold + p {
        font-size: 1rem;
    }
  }

@media only screen and (max-width: 575px) {
    .button-div > .button {
        width: 400px;
        height: 70px;
        font-size: 2rem;
    }
    .button-text-parent > .text-div > .product-desc {
        font-size: 1.4rem;
    }
    .product-div > .product-title {
        font-size: 2rem;
        font-weight: bold;
    }
    .details-description {
        font-size: 1.5rem;
    }
    .font-weight-bold + p {
        font-size: 1.4rem;
    }
  }