.form label {
  width: 100%;
  margin-bottom: 3px;
}
.form input {
  width: 50%;
  border-right: 1px solid black;
  border-left:  1px solid black;
  margin-bottom: 10px;
  margin-right: 20px;
}
.buttons {
  width: 100%;
}
.buttons > button {
  width: 23%;
  margin-top: 10px; 
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}
.buttons > button:first-child {
  margin-right: 4.06%;
}
.form-dimension {
  height: 65vh;
  padding: 70px;
}

@media only screen and (max-width: 991px) {
  form > div.form > input {
    width: 100%;
  }
  .buttons > button:first-child {
    margin-right: 9.96%;
  }
  form > div.buttons > button {
    width: 45%;
  }
}
