@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.product-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0px;
}

.product-title:hover {
    text-decoration-line: underline;
}

.product-desc {
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.product-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    border: 2px solid black;
    padding: 4px;
}

.button {
    font-weight: 600;
}

.button:hover {
    background-color:black;
    color: whitesmoke;
    border: 2px solid gray;
}